@model HotelReservation.Models.Room

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsVacant" /> @Html.DisplayNameFor(model => model.IsVacant)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PricePerNightAdult" class="control-label"></label>
                <input asp-for="PricePerNightAdult" class="form-control" />
                <span asp-validation-for="PricePerNightAdult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerNightChild" class="control-label"></label>
                <input asp-for="PricePerNightChild" class="form-control" />
                <span asp-validation-for="PricePerNightChild" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
