@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to our Hotel Reservation app.</p>
    <br /> 
           The "Hotel Reservations Manager" web application is a system which helps its users to easily create reservations and check available rooms. Developed by a team based in Silistra.
</div>